<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewData["Title"] - doanasp</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
</head>
<body class="homepage is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <section id="header" class="wrapper">

            <!-- Logo -->
            <div id="logo">
                <h1>Nội Thất Nhà Tui</h1>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li class="current"><a asp-controller="Home" asp-action="Index">Trang Chủ</a></li>
                    <li><a asp-controller="HoaDons" asp-action="Index">Hóa Đơn</a></li>
                    <li><a asp-controller="accounts" asp-action="Index">Tài Khoản</a></li>
                    <li><a asp-controller="sanphams" asp-action="Index">Sản Phẩm</a></li>
                    <li><a asp-controller="Loaisanphams" asp-action="Index">Danh Mục Sản Phẩm</a></li>
                    <li><a asp-controller="ChiTietHoaDons" asp-action="Index">Chi Tiết Đơn Hàng</a></li>
                    <li><a asp-controller="GioHangs" asp-action="Index">Giỏ Hàng</a></li>
                </ul>
            </nav>

        </section>

        <!-- Main -->
        <section id="main" class="wrapper style2">
            <div class="container" >@RenderBody() </div>
        </section>
        <!-- Footer -->
        <section id="footer" class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-12-medium">

                        <!-- Contact Form -->
                        <section>
                            <form method="post" action="#">
                                <div class="row gtr-50">
                                    <div class="col-6 col-12-small">
                                        <input type="text" name="name" id="contact-name" placeholder="Name" />
                                    </div>
                                    <div class="col-6 col-12-small">
                                        <input type="text" name="email" id="contact-email" placeholder="Email" />
                                    </div>
                                    <div class="col-12">
                                        <textarea name="message" id="contact-message" placeholder="Message" rows="4"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <ul class="actions">
                                            <li><input type="submit" class="style1" value="Send" /></li>
                                            <li><input type="reset" class="style2" value="Reset" /></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </section>

                    </div>
                    <div class="col-6 col-12-medium">

                        <!-- Contact -->
                        <section class="feature-list small">
                            <div class="row">
                                <div class="col-6 col-12-small">
                                    <section>
                                        <h3 class="icon solid fa-home">Mailing Address</h3>
                                        <p>
                                           Cao Đẳng Kỹ Thuật Cao Thắng<br />
                                            67 Huỳnh Thúc Kháng<br />
                                            Đa Kao, Quận 1
                                        </p>
                                    </section>
                                </div>
                                <div class="col-6 col-12-small">
                                    <section>
                                        <h3 class="icon solid fa-comment">Social</h3>
                                        <p>
                                            <a href="#">-corp</a>NHÀ TUI.CoLtd<br />
                                            <a href="#">linkedin.com/tiendeptrai</a><br />
                                            <a href="#">facebook.com/vantien1308</a>
                                        </p>
                                    </section>
                                </div>
                                <div class="col-6 col-12-small">
                                    <section>
                                        <h3 class="icon solid fa-envelope">Email</h3>
                                        <p>
                                            <a href="#">caothang.edu.vn</a>
                                        </p>
                                    </section>
                                </div>
                                <div class="col-6 col-12-small">
                                    <section>
                                        <h3 class="icon solid fa-phone">Phone</h3>
                                        <p>
                                            (84) 0909898999
                                        </p>
                                    </section>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
                <div id="copyright">
                    <ul>
                        <li>&copy; Nhà Tui Đẹp</li>
                    </ul>
                </div>
            </div>
        </section>

    </div>

    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.dropotron.min.js"></script>
    <script src="~/assets/js/browser.min.js"></script>
    <script src="~/assets/js/breakpoints.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


</body>
</html>