@model doanasp.Models.account

@{
    ViewData["Title"] = "Create";
    //Layout = "_LayoutAdminIndex";
}

<h1>Create</h1>

<h4>account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="tendangnhap" class="control-label"></label>
                <input asp-for="tendangnhap" class="form-control" />
                <span asp-validation-for="tendangnhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="matkhau" class="control-label"></label>
                <input asp-for="matkhau" class="form-control" />
                <span asp-validation-for="matkhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hovaten" class="control-label"></label>
                <input asp-for="hovaten" class="form-control" />
                <span asp-validation-for="hovaten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="diachi" class="control-label"></label>
                <input asp-for="diachi" class="form-control" />
                <span asp-validation-for="diachi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sodienthoai" class="control-label"></label>
                <input asp-for="sodienthoai" class="form-control" />
                <span asp-validation-for="sodienthoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phuongthucdangnhap" class="control-label"></label>
                <input asp-for="phuongthucdangnhap" class="form-control" />
                <span asp-validation-for="phuongthucdangnhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trangthai" class="control-label"></label>
                <input asp-for="trangthai" class="form-control" />
                <span asp-validation-for="trangthai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

