@model doanasp.Models.Account
@{ Layout = "_Login"; ViewData["Title"] = "Login";}

<div class="container" id="container">
    <div class="form-container sign-up-container">
         <form method="post">
             <h1>Create Account</h1>
             <input type="text" placeholder="Full name" asp-for="Fullname" />
             <input type="text" placeholder="Username" asp-for="Username" />
             <input type="password" placeholder="Password" asp-for="Password" />
             <input type="email" placeholder="Email" asp-for="Email" />
             <input type="text" placeholder="Phone Number" asp-for="Phone" />
             <input type="text" placeholder="Address" asp-for="Address" />
             <div class="form-group">
                 <button asp-controller="Accounts" asp-action="Register" >Sign Up</button>
             </div>
         </form>
</div>
    <div class="form-container sign-in-container">
        <form method="post">
            <h1>Sign in</h1>
            <input type="text" placeholder="Username" asp-for="Username" />
            <input type="password" placeholder="Password" asp-for="Password" />
            <A href="#">Forgot your password?</A>
            <button asp-controller="Accounts" asp-action="Login">Sign In</button>
            <p style="color:red">@ViewBag.ErrorMessage</p>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
