@model doanasp.Models.Invoice;

@{
    ViewData["Title"] = "Index"; Layout = "_LayoutAdminIndex";
    string username = "anonymous";
    if (ViewBag.UserName != null)
    {
        username = ViewBag.UserName;
        @section Member{<li><a asp-controller="Accounts" asp-action="Logout">Logout</a></li>}
    }
    else
    {
        @section Member{}

    }
}
@section name{@username}

<h1 style="width:50%; margin-left:10% ;">Search by Details</h1style="width:50%;>

<h4 style="width:50%; margin-left:10% ;">Invoice</h4>
<hr />
<div class="row" style=" width:50%; margin-left:10%;">
    <div class="col-md-4">
        <form asp-action="Result">
            <div class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Code</label>
                <input name="Code" class="form-control" />
            </div>
            @*<div class="form-group">
                    <label class="control-label">IssueDate</label>
                    <input name="IssueDate" class="form-control" />
                </div>*@
            <div class="form-group">
                <label class="control-label">ShippingAddress</label>
                <input name="ShippingAddress" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">ShippingPhone</label>
                <input name="ShippingPhone" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Total</label>
                <input name="Total" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Account</label>
                <input name="AccountId" class="form-control" />
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">

                    <input class="form-check-input" name="Status" asp-for="Status" />Delivered
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="width:50%; margin-left:10% ;">
    <a asp-action="Index">Back to List</a>
</div>

