@model doanasp.Models.ChiTietHoaDon

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ChiTietHoaDon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="diachi" class="control-label"></label>
                <input asp-for="diachi" class="form-control" />
                <span asp-validation-for="diachi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ghichu" class="control-label"></label>
                <input asp-for="ghichu" class="form-control" />
                <span asp-validation-for="ghichu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ngaylap" class="control-label"></label>
                <input asp-for="ngaylap" class="form-control" />
                <span asp-validation-for="ngaylap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="capnhat" class="control-label"></label>
                <input asp-for="capnhat" class="form-control" />
                <span asp-validation-for="capnhat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tongtien" class="control-label"></label>
                <input asp-for="tongtien" class="form-control" />
                <span asp-validation-for="tongtien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trangthai" class="control-label"></label>
                <input asp-for="trangthai" class="form-control" />
                <span asp-validation-for="trangthai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

