@model doanasp.Models.SanPham

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutAdminIndex";
}

<h1>Edit</h1>

<h4>SanPham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="masanpham" />
            <div class="form-group">
                <label asp-for="tensanpham" class="control-label"></label>
                <input asp-for="tensanpham" class="form-control" />
                <span asp-validation-for="tensanpham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="giaban" class="control-label"></label>
                <input asp-for="giaban" class="form-control" />
                <span asp-validation-for="giaban" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="soluongton" class="control-label"></label>
                <input asp-for="soluongton" class="form-control" />
                <span asp-validation-for="soluongton" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="motasanpham" class="control-label"></label>
                <input asp-for="motasanpham" class="form-control" />
                <span asp-validation-for="motasanpham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mausac" class="control-label"></label>
                <input asp-for="mausac" class="form-control" />
                <span asp-validation-for="mausac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kichthuoc" class="control-label"></label>
                <input asp-for="kichthuoc" class="form-control" />
                <span asp-validation-for="kichthuoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="chatlieu" class="control-label"></label>
                <input asp-for="chatlieu" class="form-control" />
                <span asp-validation-for="chatlieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phong" class="control-label"></label>
                <input asp-for="phong" class="form-control" />
                <span asp-validation-for="phong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="noisanxuat" class="control-label"></label>
                <input asp-for="noisanxuat" class="form-control" />
                <span asp-validation-for="noisanxuat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hinhanh" class="control-label"></label>
                <input asp-for="hinhanh" class="form-control" />
                <span asp-validation-for="hinhanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="trangthai" class="control-label"></label>
                <input asp-for="trangthai" class="form-control" />
                <span asp-validation-for="trangthai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

